# setting file
.vscode
.idea

# build file
cmake-build-debug
CMakeLists.txt
CMakeLists.txt.user

# temp file
Workplace/*.txt
Workplace/*.data
Workplace/*.out
Workplace/*.c
Workplace/*.cpp
Workplace/*.h
Workplace/*/*.c
Workplace/*/*.cpp
Workplace/*/*.h
Workplace/*/*.*
